* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'sans-serif';
    min-width: 1300px;
    height: 100vh;
}

header {
    background-color: #1F2937;
    padding: 16px 200px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.nav-bar h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: #E5E7EB
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.hero-text {
    width: 400px;
    color: #F9FAF8;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    color: #E5E7EB;
    margin-top: 20px;
}

.hero-text button {
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    margin-top: 20px;
}


.hero img {
    width: 600px;
    height: 300px;
    border-radius: 8px;
}

.hero img:hover,
.hero button:hover,
.card img:hover,
.call-to-action button:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

.information {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information .container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 60px;
    justify-content: center;
    align-items: flex-start;
}

.container .card {
    display: flex;
    width: 275px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 275px;
    height: 275px;
    border-radius: 8px;
    object-fit: cover;
}



.card p {
    margin-top: 20px;
}


.quote-container {
    padding: 100px 340px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-weight: 300
}

.quote-container .quote {
    font-size: 36px;
    font-style: italic
}

.quote-container .author {
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    text-align: right;
}


.call-to-action-container {
    padding: 100px 200px;
    color: #F9FAF8;
    font-size: 20px
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    background-color: #3882F6;
    border-radius: 8px;
}

.call-to-action h3 {
    font-weight: 600;
}

.call-to-action p {
    margin-top: 8px;
    width: 500px;
    font-weight: 200;
}

.call-to-action button {
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 800;
    background-color: #3882F6;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    height: 72px;
    background-color: #1F2937;
}