* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'sans-serif';
    min-width: 1300px;
    height: 100vh;
}

header {
    background-color: #1F2937;
    padding: 16px 200px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.nav-bar h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-bar ul {
    display: flex;
    gap: 16px;
    list-style: none;
}

.nav-bar a {
    text-decoration: none;
    color: #E5E7EB
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.hero-text {
    width: 400px;
    color: #F9FAF8;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    color: #E5E7EB;
    margin-top: 12px;
}

.hero-text button {
    border: none;
    border-radius: 8px;
    padding: 8px 32px;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    margin-top: 12px;
}


.hero img {
    width: 500px;
    height: 250px;
    border: 1px solid white;
}

.information {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information .container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.container .card {
    display: flex;
    width: 160px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 160px;
    height: 160px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.card p {
    margin-top: 10px;
}


.quote-container {
    padding: 100px 340px;
    background-color: #E5E7EB;
    font-weight: 300
}

.quote-container .quote {
    font-size: 36px;
    font-style: italic
}

.quote-container .author {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    text-align: right;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 72px;
    background-color: #1F2937;
}