* {
    box-sizing: border-box;
}

header {

}

main {
    background-color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 72px;
    background-color: #1F2937;
}